{% extends 'home/base.html' %}
{% load static %}
{% block content%}
<div class="mainContent">
    <h1>Technologies</h1>
    <div class="profileContents">
        <div class="profileWeb">
            <h2>Web Development</h2>
            <img src="{% static 'images/website.png' %}" alt=""><br>
            <a href="{% url 'web' %}">View</a>
          </div>
          <div class="profileIot">
            <h2>Internet of Things(IoT)</h2>
            <img src="{% static 'images/iot.jpg' %}" alt=""><br>
            <a href="{% url 'iot' %}">View</a>
          </div>
    </div>
  </div>
  
{% endblock %}